
body,html{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-family:"微软雅黑";
}
.swiper-container{
	width:100%;
	height:100%;
}
.swiper-slide{
	width:100%;
	height:100%;
}
.slide2{
	background:url('../images/2.jpg') no-repeat;
	background-size:cover;
}
.slide3{
	background:url('../images/3.jpg') no-repeat;
	background-size:cover;
}
.slide4{
	background:url('../images/4.jpg') no-repeat;
	background-size:cover;
}
.slide5{
	background:url('../images/5.jpg') no-repeat;
	background-size:cover;
}
/* 导航栏*/
.nav{
	width:100%;
	height:80px;
	display:flex;
	justify-content:space-around;
	align-items:center;
	background:#d7dade;
	position:fixed;
	top:0;
	z-index:999;
}
.nav_center li{
	display:inline-block;
	margin-left:30px;
}
.nav_left{
	display:flex;
	justify-content:space-around;
}
.nav_right{
	display:flex;
	justify-content:center;
	position:relative;
}
.nav_right p{
	margin-left:20px;
}
a:link{
	color:red;
}
a:visited{
	color:red;
}
a{
	text-decoration:none;
}

/*第二个轮播图中插图*/
.slide2_frist{
	width:500px;
	height:480px;
	position:absolute;
	bottom:0px;
}
.slide2_second{
	width:600px;
	height:300px;
	position:absolute;
	bottom:0;
	right:10px;
}